# Kirby .htaccess




# Deflate Compression by MimeType
<IfModule mod_deflate.c>
 <FilesMatch "\.(js|jpg|jpeg|gif|png|css)$">
  ExpiresActive on
  ExpiresDefault "access plus 1 month"
  SetOutputFilter DEFLATE
 </FilesMatch>
</IfModule>




# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.:
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder.
# Otherwise links or the entire site will break.
#
# If your homepage is http://yourdomain.com/mysite
# Set the RewriteBase to:
#
# RewriteBase /mysite
#
RewriteBase /

RewriteCond %{HTTP_HOST} !^www. [NC]
RewriteRule ^(.*) http://www.%{HTTP_HOST}/$1 [R=301,L]

#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]


#RewriteCond %{HTTP_HOST} !^www\.der-zyklop\.de$
#RewriteRule ^(.*)$ http://www.der-zyklop.de/$1 [L,R=301]

# block text files in the content folder from being accessed directly
RewriteRule ^content/(.*)\.(txt|md|mdown)$ error [R=301,L]

# block all files in the site folder from being accessed directly
RewriteRule ^site/(.*) error [R=301,L]

# block all files in the kirby folder from being accessed directly
RewriteRule ^kirby/(.*) error [R=301,L]



# 404-Fixes
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !example.php
#RewriteCond %{REQUEST_URI} !(.*)/$
#RewriteRule ^(.*)$ $1/ [L,R=301]

RewriteRule ^bilder/(.*) photos/$1 [R=301,L]

RewriteRule ^cultofless/(.*) pxwrk/tags/tag:cultofless/$1 [R=301,L]
RewriteRule ^cult-of-less/(.*) pxwrk/tags/tag:cultofless/$1 [R=301,L]
RewriteRule ^cult-of-less/warum-das-ganze/(.*) pxwrk/tags/tag:cultofless/$1 [R=301,L]

RewriteRule ^kontakt/(.*) about/$1 [R=301,L]

RewriteRule ^main/kontakt/(.*) about/$1 [R=301,L]
RewriteRule ^main/musik/(.*) musik/$1 [R=301,L]
RewriteRule ^main/pxwrk/instragram/(.*) snapshots/$1 [R=301,L]
RewriteRule ^main/cult-of-less/(.*) pxwrk/tags/tag:cultofless/$1 [R=301,L]

RewriteRule ^blog/facebook-hat-meinen-account-gesperrt$ blog/facebook-hat-meinen-account-gesperrt-nils-kladderadatsch/ [R=301,L]

# Diese Regel ist super wichtig! Weil früher hieß der Blog "pxwrk"
RewriteRule ^pxwrk/(.*) blog/$1 [R=301,L]



# make panel links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^panel/(.*) panel/index.php [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]


</IfModule>


# Additional recommended values
# Remove comments for those you want to use.
#
# AddDefaultCharset UTF-8
#
# php_flag short_open_tag on
