/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;


	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */
code[class*="language-"],
pre[class*="language-"] {
	color: white;
	direction: ltr;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	text-align: left;
	text-shadow: 0 -.1em .2em black;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background:hsl(0, 0%, 8%); /* #141414 */
}

/* Code blocks */
pre[class*="language-"] {
	border-radius: .5em;
	border: .3em solid hsl(0,0%,33%); /* #282A2B */
	box-shadow: 1px 1px .5em black inset;
	margin: .5em 0;
	overflow: auto;
	padding: 1em;
}
pre[class*="language-"]::selection { /* Safari */
	background:hsl(200, 4%, 16%); /* #282A2B */
}
pre[class*="language-"]::selection { /* Firefox */
	background:hsl(200, 4%, 16%); /* #282A2B */
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: hsla(0,0%,93%,0.15); /* #EDEDED */
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: hsla(0,0%,93%,0.15); /* #EDEDED */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	border-radius: .3em;
	border: .13em solid hsl(0,0%,33%); /* #545454 */
	box-shadow: 1px 1px .3em -.1em black inset;
	padding: .15em .2em .05em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsl(0, 0%, 47%); /* #777777 */
}

.token.punctuation {
	opacity: .7;
}

.namespace {
	opacity: .7;
}

.token.tag,
.token.boolean,
.token.number {
	color: hsl(14, 58%, 55%); /* #CF6A4C */
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
	color:hsl(53, 89%, 79%); /* #F9EE98 */
}
.token.attr-name,
.token.attr-value,
.token.string,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color:hsl(76, 21%, 52%); /* #8F9D6A */
}

.token.atrule {
	color:hsl(218, 22%, 55%); /* #7587A6 */
}

.token.regex,
.token.important {
	color: hsl(42, 75%, 65%); /* #E9C062 */
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}
pre[data-line] {
	padding: 1em 0 1em 3em;
	position: relative;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation  {
	color: hsl(33, 33%, 52%); /* #AC885B */
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
	position:relative;
	z-index:1;
}
.line-highlight {
	background: -moz-linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0)); /* #545454 */
	background: -o-linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0)); /* #545454 */
	background: -webkit-linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0)); /* #545454 */
	background: hsla(0, 0%, 33%, 0.25); /* #545454 */
	background: linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0)); /* #545454 */
	border-bottom:1px dashed hsl(0, 0%, 33%); /* #545454 */
	border-top:1px dashed hsl(0, 0%, 33%); /* #545454 */
	left: 0;
	line-height: inherit;
	margin-top: 0.75em; /* Same as .prism’s padding-top */
	padding: inherit 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	white-space: pre;
	z-index:0;
}
.line-highlight:before,
.line-highlight[data-end]:after {
	background-color: hsl(215, 15%, 59%); /* #8794A6 */
	border-radius: 999px;
	box-shadow: 0 1px white;
	color: hsl(24, 20%, 95%); /* #F5F2F0 */
	content: attr(data-start);
	font: bold 65%/1.5 sans-serif;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: .4em;
	vertical-align: .3em;
}
.line-highlight[data-end]:after {
	bottom: .4em;
	content: attr(data-end);
	top: auto;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

:focus {
  outline: 0; }

::-moz-selection {
  background: #358e9b;
  color: #fcfcfc; }

::selection {
  background: #358e9b;
  color: #fcfcfc; }

html, body {
  min-height: 100%; }

body {
  background: #fcfcfc; }

fieldset {
  padding: 2rem 6rem;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

.img-left {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em; }

.img-right {
  float: right;
  margin-left: 2em;
  margin-bottom: 1em; }

.multi-col-50-50 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .multi-col-50-50 .col-1 {
    width: 50%;
    float: left; }
  .multi-col-50-50 .col-2 {
    width: 50%;
    float: right; }

.multi-col-30-30-30 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .multi-col-30-30-30 .col-1 {
    width: 33%;
    float: left; }
  .multi-col-30-30-30 .col-2 {
    width: 34%;
    float: left; }
  .multi-col-30-30-30 .col-3 {
    width: 33%;
    float: left; }

.clearit {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  clear: both !important;
  float: none !important; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  clear: both; }

.footer {
  margin: 0px auto;
  width: 100%; }

.width-wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.inner-width-wrap {
  padding: 2rem 6rem; }

.main-content img {
  max-width: 100%; }

.page-wrap {
  padding: 2rem 6rem; }

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="search"],
textarea {
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  background: #fcfcfc;
  border-radius: 4px;
  padding: 0.3em 2%;
  font-size: 1em;
  line-height: 1.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  input[type="text"]:disabled,
  input[type="email"]:disabled,
  input[type="date"]:disabled,
  input[type="password"]:disabled,
  input[type="search"]:disabled,
  textarea:disabled {
    background: #ebebeb;
    color: #666666; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    border-color: #aaaaaa;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: white; }

textarea {
  resize: vertical; }

table {
  width: 100%; }

button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #fcfcfc;
  text-align: center;
  text-decoration: none;
  background: #bd6457;
  border: none;
  font-size: 1em;
  font-family: Merriweather, helvetica;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  button:hover,
  .button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    text-decoration: none;
    color: #fcfcfc;
    background: #9b4235; }
  button a,
  .button a,
  input[type="button"] a,
  input[type="submit"] a,
  input[type="reset"] a {
    text-decoration: none; }
  button:disabled, button.passive,
  .button:disabled,
  .button.passive,
  input[type="button"]:disabled,
  input[type="button"].passive,
  input[type="submit"]:disabled,
  input[type="submit"].passive,
  input[type="reset"]:disabled,
  input[type="reset"].passive {
    background: #dddddd;
    cursor: default; }

blockquote {
  padding: 0 0 0 2.5em;
  margin: 2em 0;
  border-left: 1px solid #cccccc;
  font-style: italic; }

code {
  background: #ebebeb;
  padding: 0.1em 0.2em;
  border-radius: 4px; }

pre {
  background: #ebebeb;
  padding: 20px;
  overflow: scroll;
  border-radius: 4px; }
  pre > code {
    white-space: pre; }
  pre code {
    padding: 0;
    border: none;
    background: transparent; }

body {
  font-size: 23px;
  color: #222222;
  line-height: 1.8em;
  font-family: Merriweather, helvetica;
  padding: 0;
  margin: 0;
  background: #fcfcfc; }
  @media screen and (max-width: 800px) {
    body {
      padding: 0; }
      body .width-wrap {
        margin-top: 0px;
        margin-bottom: 0px; } }

a {
  color: #bd6457; }

h1, h2, h3, h4, h5, h6 {
  font-family: Merriweather, helvetica;
  line-height: 1.6em;
  font-weight: bold;
  text-align: center;
  color: #136c79; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #bd6457;
    text-decoration: none; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      text-decoration: underline; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

h1 {
  margin: 0; }

h1, h2, h3 {
  color: #136c79; }

h4, h5 {
  font-weight: normal; }

h6 {
  background: url("../images/ccc.png") center center repeat-x;
  margin: 2em 0; }
  h6 span {
    background: #fcfcfc;
    padding: 0 1em; }

h3 {
  border-bottom: 1px solid #cccccc; }

p {
  margin: 2rem 0; }

article p + p {
  text-indent: 1em; }

input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

hr {
  height: 1px;
  border: none;
  background: #cccccc;
  margin: 3rem 0; }

img {
  display: block; }

p img {
  margin-top: 0.5em; }

p a, ul a, ol a {
  text-decoration: none; }
  p a:hover, ul a:hover, ol a:hover {
    text-decoration: underline; }

blockquote {
  margin: 2rem 0;
  background: #f4f4f4;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: 4px solid #358e9b; }
  blockquote p {
    margin: 0.5em 0; }

legend {
  color: #888888;
  font-weight: bold; }

iframe.video {
  width: 100%;
  height: 500px; }
  @media screen and (max-width: 320px) {
    iframe.video {
      height: 120px; } }
  @media screen and (max-width: 770px) {
    iframe.video {
      height: 400px; } }

section {
  padding: 1em 0; }

#beispiel:target {
  background: white;
  border: 4px solid #aa0000;
  padding: 4px; }

.right {
  float: right; }

.left {
  float: left; }

.footer {
  border-top: 1px solid #cccccc;
  width: auto; }
  .footer p {
    line-height: 2.8em; }

.content p a, .content blockquote a, .content table a,
.footer p a,
.footer blockquote a,
.footer table a {
  text-decoration: none;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #cccccc;
  border-bottom-color: #cccccc; }
.content p a:hover, .content blockquote a:hover, .content table a:hover,
.footer p a:hover,
.footer blockquote a:hover,
.footer table a:hover {
  border-bottom-color: #025b68;
  color: #358e9b; }

.img-outer-wrap {
  margin: 1em 0; }
  .img-outer-wrap .img-inner-wrap {
    display: block;
    border-radius: 4px; }
  .img-outer-wrap a {
    padding: 1em;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    position: relative;
    -webkit-transition: background 0.4s, border-color 0.3s;
    transition: background 0.4s, border-color 0.3s; }
    .img-outer-wrap a img {
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s;
      opacity: 1; }
    .img-outer-wrap a:hover .description {
      color: #358e9b; }
    .img-outer-wrap a:hover {
      background-position: center center;
      border-color: #999999; }
      .img-outer-wrap a:hover img {
        opacity: 0.3;
        background: #fcfcfc; }
  .img-outer-wrap .description,
  .img-outer-wrap .image-likes {
    color: rgba(255, 255, 255, 0.6);
    border-style: solid;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.3);
    padding: 0.3em 1em;
    line-height: 1.2em;
    -webkit-transition: color 0.5s, background 0.5s;
    transition: color 0.5s, background 0.5s;
    right: 0;
    left: 0; }
    .img-outer-wrap .description span,
    .img-outer-wrap .image-likes span {
      font-size: 14px; }
  .img-outer-wrap .image-likes {
    border-radius: 4px 4px 0 0;
    position: absolute;
    top: 0;
    font-weight: bold;
    border-bottom-width: 1px; }
  .img-outer-wrap .description {
    border-radius: 0 0 4px 4px;
    position: absolute;
    text-align: center;
    bottom: 0;
    border-top-width: 1px; }
  .img-outer-wrap:hover a .description, .img-outer-wrap:hover .image-likes {
    opacity: 1;
    color: white; }

.header,
.content,
.width-wrap {
  max-width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6rem;
  padding-right: 6rem; }
  .header img,
  .content img,
  .width-wrap img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 4px; }
  @media screen and (max-width: 770px) {
    .header,
    .content,
    .width-wrap {
      padding: 1rem 8%; } }

@media screen and (max-width: 770px) {
  body {
    font-size: 19px; } }
.meta {
  background: #f7f7f7;
  border-top: 1px solid #cccccc; }
  .meta .taglist li a {
    background-color: #bd6457;
    color: #fcfcfc;
    border: none; }
  .meta h1 span, .meta h2 span, .meta h3 span, .meta h4 span, .meta h5 span, .meta h6 span {
    background: #f7f7f7; }

a span.result-counter {
  background: #9b4235;
  padding: 0.2em 0.4em;
  border-radius: 4px; }

.bg-tertiary {
  background: #333333;
  background: #333333 url("../images/pattern/dark/irongrip.png");
  color: #dadada; }
  .bg-tertiary h1, .bg-tertiary h2, .bg-tertiary h3, .bg-tertiary h4, .bg-tertiary h5, .bg-tertiary h6 {
    color: #dadada;
    font-weight: bold; }
    .bg-tertiary h1 span, .bg-tertiary h2 span, .bg-tertiary h3 span, .bg-tertiary h4 span, .bg-tertiary h5 span, .bg-tertiary h6 span {
      background: #333333;
      background: #333333 url("../images/pattern/dark/irongrip.png"); }

.flattr-wrap {
  margin: 6px; }

@media screen and (max-width: 770px) {
  .no-mobile {
    display: none; } }

.taglist {
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .taglist ul {
    list-style: none;
    padding: 0;
    margin-top: 0; }
    .taglist ul li {
      display: inline; }
      .taglist ul li a {
        font-weight: bold;
        display: block;
        cursor: pointer;
        border-radius: 4px;
        overflow: hidden;
        padding: 0.5em;
        margin: 1rem 0;
        background: #f7f7f7;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        border: 1px solid #ececec;
        text-decoration: none;
        white-space: nowrap;
        display: inline;
        line-height: 3em;
        margin: 0.5em; }
        .taglist ul li a:hover {
          background: #9b4235;
          color: #fcfcfc;
          border-color: #9b4235; }

/* Nav [BEGIN] */
#pagination-nav {
  margin: 2rem 0;
  white-space: nowrap; }
  #pagination-nav a.btn {
    line-height: 60px; }
  #pagination-nav .prev-btn {
    float: left;
    margin-right: 2%; }
    #pagination-nav .prev-btn.active {
      -webkit-transition: margin 0.3s;
      transition: margin 0.3s; }
      #pagination-nav .prev-btn.active:hover {
        margin-left: -1%;
        margin-right: 3%; }
  #pagination-nav .overview-btn {
    width: 40%; }
  #pagination-nav .next-btn {
    float: right;
    margin-left: 2%; }
    #pagination-nav .next-btn.active {
      -webkit-transition: margin 0.3s;
      transition: margin 0.3s; }
      #pagination-nav .next-btn.active:hover {
        margin-right: -1%;
        margin-left: 3%; }

#pagination-nav .prev-btn {
  width: 48%; }
#pagination-nav .next-btn {
  width: 48%; }

.article-suggestion .title {
  display: block; }
.article-suggestion img {
  float: right;
  margin: 0.5em 0 2em 2em; }
@media screen and (max-width: 770px) {
  .article-suggestion img {
    float: none;
    margin: 0 auto; } }

.options-bar {
  margin: 2rem 0; }
  .options-bar .right {
    position: relative; }
  .options-bar .supporters-btn {
    font-weight: bold;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    padding: 0.5em;
    margin: 1rem 0;
    background: #f7f7f7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #ececec;
    text-decoration: none; }
    .options-bar .supporters-btn:hover {
      background: #9b4235;
      color: #fcfcfc;
      border-color: #9b4235; }
  .options-bar .supporters-btn {
    min-width: 60px;
    margin-left: 10px;
    float: left;
    text-align: center;
    position: relative;
    border-radius: 4px;
    padding-right: 1em;
    line-height: 40px; }
    .options-bar .supporters-btn:after {
      display: block;
      float: left;
      content: " ";
      height: 40px;
      width: 40px; }
    .options-bar .supporters-btn.twitter:after, .options-bar .supporters-btn.pinterest:after, .options-bar .supporters-btn.flattr:after, .options-bar .supporters-btn.facebook:after {
      background-image: url("../images/supporter-icons.png"); }
    .options-bar .supporters-btn.twitter:after {
      background-position: -80px 0; }
    .options-bar .supporters-btn.twitter:hover:after {
      background-position: -80px -40px; }
    .options-bar .supporters-btn.pinterest:after {
      background-position: -120px 0; }
    .options-bar .supporters-btn.pinterest:hover:after {
      background-position: -120px -40px; }
    .options-bar .supporters-btn.flattr:after {
      background-position: -40px 0; }
    .options-bar .supporters-btn.flattr:hover:after {
      background-position: -40px -40px; }
    .options-bar .supporters-btn.facebook:after {
      background-position: 0 0; }
    .options-bar .supporters-btn.facebook:hover:after {
      background-position: 0 -40px; }

/* Nav [END] */
/* Header [BEGIN] */
.header {
  margin-bottom: 1em;
  margin-top: 2em; }
  .header a {
    display: block;
    margin: 8px auto; }
  .header h1 {
    padding: 0; }
    @media screen and (max-width: 800px) {
      .header h1 {
        float: none;
        width: 100%; } }
    .header h1 img {
      margin: 0 auto; }
      @media screen and (max-width: 320px) {
        .header h1 img {
          margin: 40px auto 0px; } }
  .header .claim {
    text-align: center;
    color: #57b0bd;
    font-size: 0.9em; }

/* Header [END] */
/* Blog [BEGIN] */
.blog {
  position: relative; }
  .blog .article-text a {
    border-bottom: none; }
  .blog article {
    padding-top: 0;
    padding-bottom: 5em;
    margin: 0;
    width: auto; }
    .blog article h2 {
      border: none;
      padding: 0;
      margin: 0; }
    .blog article .headline a {
      font-weight: bold;
      display: block;
      cursor: pointer;
      border-radius: 4px;
      overflow: hidden;
      padding: 0.5em;
      margin: 1rem 0;
      background: #f7f7f7;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      border: 1px solid #ececec;
      text-decoration: none; }
      .blog article .headline a:hover {
        background: #9b4235;
        color: #fcfcfc;
        border-color: #9b4235; }

.entry-date {
  color: #cccccc;
  text-align: center; }
  .entry-date a {
    text-decoration: none;
    color: #cccccc;
    white-space: nowrap; }

#articles {
  list-style: none;
  padding: 0;
  margin-top: 0; }
  #articles .article-teaser-small {
    font-weight: bold;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    padding: 0.5em;
    margin: 1rem 0;
    background: #f7f7f7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #ececec;
    text-decoration: none; }
    #articles .article-teaser-small:hover {
      background: #9b4235;
      color: #fcfcfc;
      border-color: #9b4235; }
    #articles .article-teaser-small .entry-date,
    #articles .article-teaser-small .headline {
      font-size: 1em;
      line-height: 1.8em; }
      #articles .article-teaser-small .entry-date a,
      #articles .article-teaser-small .headline a {
        -webkit-transition: color 0.3s;
        transition: color 0.3s; }
    #articles .article-teaser-small .entry-date {
      float: left; }
    #articles .article-teaser-small .headline {
      margin: 0;
      text-align: left;
      padding-left: 5em; }
    #articles .article-teaser-small:hover .entry-date a,
    #articles .article-teaser-small:hover .headline a {
      text-decoration: none;
      color: #fcfcfc; }

/* Blog [END] */
/* Dribbble [BEGIN] */
.dribbble-shot {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 42%;
  max-width: 400px;
  margin: 4%;
  float: left; }
  .dribbble-shot .img-outer-wrap {
    max-width: 442px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0; }
    .dribbble-shot .img-outer-wrap a {
      padding: 0;
      background: black; }
  @media screen and (max-width: 770px) {
    .dribbble-shot {
      width: 100%;
      float: none;
      margin: 0;
      margin-bottom: 2em; }
      .dribbble-shot .img-outer-wrap {
        margin: 0 auto;
        max-width: 442px;
        width: 442px; } }

/* Dribbble [END] */
/* Instagram [BEGIN] */
.instagram {
  margin-bottom: 1em; }
  .instagram .instagram-photo {
    width: 31%;
    margin: 1%;
    float: left; }
    .instagram .instagram-photo a {
      padding: 0;
      background: black; }
    .instagram .instagram-photo .img-outer-wrap {
      margin-bottom: 0;
      margin-top: 0; }
    @media screen and (max-width: 770px) {
      .instagram .instagram-photo {
        width: 48%;
        margin: 1%; } }
    @media screen and (max-width: 390px) {
      .instagram .instagram-photo {
        width: 100%;
        float: none;
        margin: 0; } }

.instagram-detail img {
  max-width: 100%; }

.instagram-detail .img-outer-wrap,
.blogarticle .instagram-photo {
  margin: 0 auto;
  width: 654px;
  max-width: 100%; }

/* Instagram [END] */
/* Comments-Pluin */
.add-comment-form .hidden {
  color: transparent;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
.add-comment-form:hover .hidden {
  color: #bd6457; }

.comment-add-form {
  margin: 2em 0; }
  .comment-add-form h6 {
    background-color: #bd6457; }
  .comment-add-form p {
    margin-bottom: 0; }
  .comment-add-form input, .comment-add-form textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .comment-add-form textarea {
    height: 10em; }
  .comment-add-form.hide-form form .visible {
    display: none; }

ul#comments {
  list-style: none;
  padding: 0;
  margin-top: 0; }
  ul#comments .comment-date {
    float: right; }
  ul#comments .comment-name {
    float: left; }
  ul#comments .comment-name,
  ul#comments .comment-date {
    color: #cccccc;
    color: #bd6457;
    color: #57b0bd;
    font-size: 1.1em;
    padding-top: 20px; }
  ul#comments .comment-gravatar {
    text-align: center;
    background: url("../images/57B0BD.png") bottom 20px center repeat-x;
    margin-bottom: -1em; }
    ul#comments .comment-gravatar > div {
      width: 116px;
      margin: 0 auto;
      padding: 0 2rem;
      background: #333333 url("../images/pattern/dark/irongrip.png"); }
      ul#comments .comment-gravatar > div img {
        border-radius: 100px; }
  ul#comments .comment-text {
    clear: both; }
  ul#comments > li {
    margin: 4rem 0; }

/* Misc [BEGIN] */
.edit {
  padding: 1em 1.6em;
  margin: 30px 0;
  border: 3px solid #358e9b;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
  .edit h4 {
    font-size: 140%; }

/* Misc [END] */
button, .button, a.button, input[type="button"], input[type="submit"], input[type="reset"] {
  line-height: 2.5em; }
  button:hover, .button:hover, a.button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    color: #fcfcfc !important; }
  button.passiv-btn, .button.passiv-btn, a.button.passiv-btn, input[type="button"].passiv-btn, input[type="submit"].passiv-btn, input[type="reset"].passiv-btn {
    background: #cccccc; }

.button-wrap {
  padding: 2rem; }

iframe.twitter-tweet-rendered {
  margin: 7px auto !important; }

.tagcloud {
  list-style: none;
  padding: 0;
  margin-top: 0;
  position: relative;
  z-index: 10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .tagcloud .more {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: #fcfcfc 0 0px 50px, #fcfcfc 0 -20px 20px;
    box-shadow: #fcfcfc 0 0px 50px, #fcfcfc 0 -20px 20px; }
  .tagcloud * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .tagcloud li > a {
    border-bottom: none;
    display: block;
    position: relative;
    z-index: 6;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0.2em; }
    .tagcloud li > a .bar,
    .tagcloud li > a .label {
      white-space: nowrap;
      padding: 0.5em 1em; }
    .tagcloud li > a .bar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: #bd6457;
      color: #fcfcfc;
      z-index: 20;
      overflow: hidden; }
    .tagcloud li > a .label {
      position: relative;
      z-index: 10;
      background: #f2f2f2; }
    .tagcloud li > a:hover {
      color: #9b4235;
      text-decoration: none; }
      .tagcloud li > a:hover .bar {
        background: #9b4235;
        color: #fcfcfc; }
      .tagcloud li > a:hover .label {
        background: #cccccc; }

.comment-add-form .verify {
  display: none; }

.page-wrap,
.main-nav {
  -webkit-transition: all 0.3s cubic-bezier(1, -0.53, 0.405, 1);
  transition: all 0.3s cubic-bezier(1, -0.53, 0.405, 1); }

.page-wrap {
  position: relative;
  float: left;
  width: 100%;
  padding: 0; }

.main-nav {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 0;
  height: 100%;
  background: #333333;
  overflow-y: auto;
  color: #fcfcfc; }
  .main-nav ul {
    min-width: 220px;
    padding: 0;
    margin: 0; }
    .main-nav ul li {
      border-bottom: 1px dotted rgba(255, 255, 255, 0.2); }
      .main-nav ul li a {
        display: block;
        padding: 1rem 2rem;
        color: #fcfcfc;
        text-decoration: none; }
        .main-nav ul li a:hover {
          background: #fcfcfc;
          color: #333333; }
        .main-nav ul li a.close-menu {
          padding: 2rem;
          color: #ff9999; }

a.close-menu {
  font-size: 50px;
  line-height: 50px; }

a.open-menu {
  font-size: 30px;
  line-height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

a.close-menu {
  display: none; }

a.open-menu {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 2rem; }

#nav:target {
  min-width: 360px; }
#nav:target + .page-wrap {
  margin-left: 360px; }
  #nav:target + .page-wrap .open-menu {
    display: none; }
  #nav:target + .page-wrap .close-menu {
    display: block; }

.tweets {
  background: #333333;
  color: #fcfcfc;
  border-left: #cccccc solid 1px;
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  font-size: 16px;
  line-height: 1.5em; }
  .tweets p {
    margin: 0; }
  .tweets ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .tweets ul li {
      position: relative;
      margin-top: 1.5em; }
      .tweets ul li:after {
        position: absolute;
        content: "";
        top: -0.75em;
        right: 0;
        height: 1px;
        width: 50%;
        background-color: #cccccc; }
  .tweets .headline {
    margin: 0.4em 0; }
  .tweets .user {
    display: block;
    line-height: 40px;
    margin-bottom: 1em; }
    .tweets .user .date {
      float: right; }
    .tweets .user img {
      margin-right: 1em;
      width: 40px;
      border-radius: 4px;
      float: left; }

#article-nav {
  display: none; }
  #article-nav .next-page,
  #article-nav .prev-page {
    display: none; }
  @media screen and (min-width: 770px) {
    #article-nav a {
      text-decoration: none; }
      #article-nav a .icon,
      #article-nav a .text {
        background: #fcfcfc;
        border: 1px solid #cccccc; }
      #article-nav a .icon {
        padding: 2rem;
        font-size: 50px;
        position: absolute; }
      #article-nav a .text {
        padding: 2rem;
        font-size: 0.8em;
        position: absolute;
        display: none; }
      #article-nav a:hover .text {
        display: block; }
    #article-nav .next-page,
    #article-nav .prev-page {
      display: block;
      position: fixed;
      z-index: 40;
      top: 45%;
      width: 50%;
      background: none;
      border: none; }
      #article-nav .next-page .text,
      #article-nav .prev-page .text {
        z-index: 2; }
      #article-nav .next-page .icon,
      #article-nav .prev-page .icon {
        z-index: 1; }
      #article-nav .next-page:hover,
      #article-nav .prev-page:hover {
        background: none; }
        #article-nav .next-page:hover a,
        #article-nav .prev-page:hover a {
          color: #bd6457; }
    #article-nav .next-page {
      right: 0; }
      #article-nav .next-page .text,
      #article-nav .next-page .icon {
        border-radius: 4px 0 0 4px;
        border-right: 0; }
      #article-nav .next-page .text {
        padding-right: 0;
        right: 4rem; }
      #article-nav .next-page .icon {
        right: 0; }
    #article-nav .prev-page {
      left: 0; }
      #article-nav .prev-page .text,
      #article-nav .prev-page .icon {
        border-radius: 0 4px 4px 0;
        border-left: 0; }
      #article-nav .prev-page .text {
        padding-left: 0;
        left: 4rem; }
      #article-nav .prev-page .icon {
        left: 0; } }
